.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.book-detail-indent {
    margin-left: 20px;
    margin-top: 20px;
}

#logout-form {
    display: inline;
  }
  #logout-form button {
    padding: 0;
    margin: 0;
  }
